@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@700&display=swap");
.container {
  padding-left: 31px;
  padding-right: 31px;
  margin-right: auto;
  margin-left: auto;
}

.hero__pretitleText, .pretitleText {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__pretitleText::before, .pretitleText::before {
  margin-right: 20px;
}

.hero__subtitleText, .description__subtitleText {
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
}

.hero__pretitleText::before, .pretitleText::before {
  content: '';
  display: inline-block;
  width: 60px;
  border-bottom: 1px solid rgba(157, 164, 189, 0.6);
}

.title {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.description, .price, .benefits {
  padding-top: 84px;
  padding-bottom: 84px;
}

body {
  font-family: "Open Sans";
}

ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

li {
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1, h2, h3, h4 {
  margin: 0;
}

p {
  margin: 0;
}

.hero {
  padding-top: 40px;
  padding-bottom: 183px;
  background-image: url("../css/../images/heroFirst.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url("../css/../images/heroFirst@2x.jpg");
  }
}

.hero__topLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 112px;
}

.hero__pretitleText {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__pretitleText::before {
  margin-right: 20px;
}

.hero__title {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 48px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 20px;
}

.hero__subtitleText {
  color: #9DA4BD;
}

.btnOpen {
  background-color: transparent;
  border: none;
}

.heroContainer {
  max-width: 480px;
  max-height: 580px;
  min-width: 320px;
}

.description__title {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #303030;
  margin-bottom: 20px;
}

.description__subtitleText {
  color: #555555;
  margin-bottom: 20px;
}

.description__text {
  font-size: 14px;
  line-height: 1.85;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 40px;
}

.button {
  min-width: 160px;
  min-height: 40px;
  border: 1px solid #FF6C00;
  border-radius: 25px;
  background-color: transparent;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #303030;
}

.pretitleText {
  color: #303030;
  margin-bottom: 20px;
}

.price__pretitleText {
  color: rgba(157, 164, 189, 0.6);
}

.price {
  background-color: #111319;
}

.price__btnCentr {
  text-align: center;
}

.price__button {
  color: #ffffff;
}

.title {
  margin-bottom: 44px;
}

.priceWrap {
  padding: 30px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#171A24), to(rgba(23, 26, 36, 0.2)));
  background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
  margin-bottom: 80px;
}

.priceList__service, .priceList__cost {
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}

.priceList__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.benefits__title {
  color: #303030;
}

.benefits__subtitleText {
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: #555555;
  font-family: 18px;
  margin-bottom: 20px;
}

.blocBenefits {
  max-width: 418px;
  margin: 0 auto;
}

.benefitsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.benefitsList__item {
  display: block;
  text-align: center;
}

.benefitsList__item:nth-child(even) {
  margin-top: 30px;
}

.benefitsList__item:nth-child(odd) {
  margin-right: 30px;
}

.benefitsList__number {
  font-weight: bold;
  font-size: 42px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 6px;
}

.benefitsList__number::after {
  content: '+';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.37;
  text-align: center;
  color: #FF6C00;
  margin-top: 5px;
}

.benefitsList__textList {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
  display: inline-block;
  max-width: 122px;
}

.textList--gift {
  max-width: 130px;
}
/*# sourceMappingURL=main.css.map */