.benefits {
    @extend %sectionPadingMobile;
    @media screen and (min-width: 1280px){
        padding-top: 130px;
        padding-bottom: 130px;
    }
    &__title{
        color: getColor('colorMain');
    }
    &__subtitleText{
        line-height: 1.66;
        letter-spacing: 0.02em;
        color: getColor('colorSecond');
        font-family: getFont('textAny');
    }
}

.benefits__textContent{
    @media screen and (max-width: 1279.99px){
        margin-bottom: 44px;
    }       
}

.benefitsContainer{
    @media screen and (min-width: 1280px){
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
    }
}

.blocBenefits{
    @media screen and (max-width: 767.99px){
        max-width: 418px;
        margin: 0 auto;
    }

    @media screen and (min-width: 768px){
        margin-left: auto;
        max-width: 450px;
    }

    @media screen and (min-width: 1280px){
        margin-right: 130px;
    }
}

.benefitsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    &__item{
        display: block;
        text-align: center;
        background-color: getColor('backgrounColorWhit');
        @media screen and (min-width: 768px){
            min-width: 210px;
        }
        @media screen and (min-width: 1280px){
            min-width: 170px;
            min-height: 133px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }
        &:nth-child(even){
            margin-top: 30px;
        }
        &:nth-child(odd){
            margin-right: 30px;
            margin-bottom: 30px;
        }
    }
    &__number{
        font-weight: bold;
        font-size: getFont('titleFlow');
        line-height: 1.35;
        text-align: center;
        letter-spacing: 0.05em;
        color: getColor('colorMain');
        display: flex;
        justify-content: center;
        margin-bottom: 6px;
        &::after{
            content: '+';
            font-weight: 600;
            font-size: getFont('textDescriptionHero');
            line-height: 1.37;
            text-align: center;
            color: getColor('colorTextAccent');
            margin-top: 5px;

        }
    }
    &__textList{
        font-weight: 600;
        font-size: getFont('textHero');
        line-height: 1.36;
        text-align: center;
        color: getColor('colorMain');
        display: inline-block;
        max-width: 122px;
    } 
}
.textList--gift{
    max-width: 130px;
}