body{
    font-family: $fontFamily;
}
ul{
    margin-top:  0px;
    margin-bottom: 0px;
    padding-left: 0px;
}
li{
    list-style-type: none;
    margin-top:  0px;
    margin-bottom: 0px;
}
img{
    display: block;
    width: 100%;
    height: auto;
}
h1, h2, h3, h4{
    margin: 0;   
}
p{
    margin: 0;
}
a{
    text-decoration: none;
    font-style: normal;
}



