.contacts{
    @extend %sectionPadingMobile;
    // max-height: 496px;
    background-image: 
    url('../css/../images/imgbgbottomLast.png'), url('../css/../images/Bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @media screen and (min-width: 768px){
        padding-top: 100px;
        padding-bottom: 100px;
    }
}
.contacts__title{
    margin-bottom: 40px;
    font-style: initial;
    @media screen and (max-width: 767.99px){
        text-align: center;
    }      
}
.contactsAddress{
    @media screen and (max-width: 767.99px){
        margin-bottom: 44px;
    }
    @media screen and (min-width: 768px){
        margin-right: 30px;
    }    
}
.contactsList{
    text-align: start;
    &__link{
        font-size: getFont('textAny');
        line-height: 1.66;
        letter-spacing: 0.02em;
        color: getColor('colotSecondTextHero');
        display: flex;
        align-items: center;
    }
    &__item:not(:last-child){
        margin-bottom: 20px;
    }
}
.contacts__timeWork{
    color: getColor('colorTitleHero');
    margin-bottom: 20px;
}
.contacts__time{
    font-size: getFont('textAny');
    line-height: 1.66;
    letter-spacing: 0.02em;
    color: getColor('colotSecondTextHero');
}
.contactsList__icon{
    margin-right: 16px;
}
.location{
    align-items: flex-end;
}

.contactsContainer{
    @media screen and (min-width: 768px){
        display: flex;
        align-items: flex-end;
    }
}