.description{
    @extend %sectionPadingMobile;
    &__title{
        font-family: $fontsecond;
        font-weight: bold;
        font-size: getFont('title');
        line-height: 1.17;
        letter-spacing: 0.05em;
        color: getColor('colorMain');
        margin-bottom: 20px;
    }
    &__subtitleText{
        @extend %subTitleTextStyle;
        color: getColor('colorSecond');
        margin-bottom: 20px;
    }
    &__text{
        font-size: getFont('textDescriptionTeam');
        line-height: 1.85;
        letter-spacing: 0.02em;
        color: getColor('colorSecond');
        margin-bottom: 40px;
    }
}

.pretitleText{
    @extend %preTitleTextStyle;
    color: getColor('colorMain');
    margin-bottom: 20px;
}