.headerLine{
    padding-top: 32px;
    @media screen and (min-width:768px){
        padding-top: 0;
    }
    @media screen and (max-width: 768px) {
        display: none;
    }
    &__navList{
        display: flex;
    }
    &__item{
        &:not(:last-child){
            margin-right: 24px;
            @media screen and (min-width: 1280px){
                margin-right: 40px;
            }
        }
    }
    &__link{
        font-weight: 600;
        font-size: getFont('textButton');
        line-height: 1.33;
        letter-spacing: 0.1em;
        color: getColor('colorTitleHero');
        &:hover, &:focus{
            color: getColor('colorTextAccent');
        }

    }
    &__tellAndBtn{
        @media  screen and (max-width: 1279.99px){
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
        }
        @media screen and (min-width: 1280px){
            display: flex;
            align-items: center;
        }
    }
    &__button{
        color: getColor('colorTitleHero');
        margin-bottom: 20px;
        @media screen and (min-width: 1280px){
            margin-bottom: 0;
        }
    }
    &__nav{
        margin-right: auto;
        @media screen and (min-width: 1280px){
            margin-right: 320px;
        }
    }
}

@media screen and (min-width: 1280px){
    .mobileTell{
        margin-right: 40px;
    }
}

.logo{
    @media screen and (min-width: 1280px){
        display: inherit;
        margin-right: 70px;
    }
    fill: getColor('colorMain') ;
    margin-right: 60px;
    display: block;

}

.headerLineContainerHero{
    display: flex;
    align-items: center;
    @media screen and (min-width: 768px) and (max-width: 1279.99px){
        position: absolute;
        top: 40px;
        right: 41px;
        min-width: 678px;
    }
    @media screen and (min-width: 1280px){
        // background-color: brown;
        // max-width: 1221px;
        position: absolute;
        top: 32px;
        left: 53px;

    }
    @media screen and (max-width: 767.99px){
        display: none;
    }
}

.headerLineContainer{
    @media screen and (min-width:768px){
        display: none;
    }
}

.heroContainer{
    position: relative;
}