.hero {
    @media screen and (max-width: 767.99px) {       
    padding-top: 40px;
    padding-bottom: 183px;
    padding-left: 31px;
    padding-right: 31px;
    background-image: url('../css/../images/heroFirst.jpg') ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx){
        background-image: url('../css/../images/heroFirst@2x.jpg') ;
    } 
    }
    @media screen and (min-width: 1280px) {
        // padding-right: 59px;
        // max-width: 1280px;
    }
   
    &__topLine{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 112px;
        @media screen and (min-width: 768px) {
            display: none;           
        }
    }
    &__pretitleText{
        @extend %preTitleTextStyle;
        color: getColor('colorTextHero');
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        &::before{
        @extend %before;
        margin-right: 20px;
        }
    }
    &__title{
        font-family: $fontsecond;
        font-weight: bold;
        font-size: getFont('titleHero');
        line-height: 1.16;
        letter-spacing: 0.05em;
        color: getColor('colorTitleHero');
        margin-bottom: 20px;
        @media screen and (min-width: 1280px){
            font-weight: bold;
            font-size: getFont('titleMainLaptop');
            line-height: 1.18;
            color: #FFFFFF;
        }
    }
    &__subtitleText{
        @extend %subTitleTextStyle;
        color: getColor('colotSecondTextHero');
    }
}
.container{
    @extend %container;   
}

.heroContainer{
    @media screen and (max-width: 767.99px) {
        max-height: 580px;
        min-width: 320px;
    }
    @media screen and (min-width: 768px) and (max-width: 1279.99px) {
        display: flex;
        min-width: 768px;
    }
    @media screen and (min-width: 1280px){
        padding-left: 0;
        padding-right: 59px;
        min-width: 1221px;
        display: flex;

    }
}

.heroLeft{
    @media screen and (max-width: 767.99px){
        display: none;
    }
    @media screen and (min-width:768px) {
        display: flex;
        align-items: flex-end;
        padding-bottom: 40px;
    }
    @media screen and (min-width: 1280px){
        min-width: 148px;
    }
}

.heroCommon__hero{
    @media screen and (min-width: 768px) and (max-width: 1279.99px) {
        width: 100%;
        padding: 280px 170px 185px 70px;
        background-image: url('../css/../images/bgimgHeroTablet.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('../css/../images/bgimgHeroTablet@2x.jpg');
        }
    }
    @media screen and (min-width: 1280px){
        width: 100%;
        padding: 272px 452px 206px 96px;
        background-image: url('../css/../images/heroDesktop.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('../css/../images/heroDesktop@2x.jpg');
        }
    }
}

.heroCommon__socialNetworksLink{
    font-weight: 600;
    font-size: getFont('textHero');
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: getColor('colorMain');
    &:hover, &:focus{
        color: getColor('colorTextAccent');
    }
}

.heroCommon__socialNetworksList{
    transform: rotate(-90deg) translateX(50px);
    &::before{
        @extend %before;
        margin-right: 40px;
        border-bottom: 0.95px solid getColor('colorMain');
    }
    @media screen and (min-width: 1280px){
        transform: rotate(-90deg) translateX(50px) translateY(30px);
    }
}

