.masters{
    @extend %sectionPadingMobile;
    background-color: getColor('backgrounColorWhit');
    @media screen and (min-width: 768px){
        padding-top: 100px;
        padding-bottom: 100px;
    }
    &__title{
        color: getColor('colorMain');
    }
}

.mastersContainer{
    @media screen and (min-width: 768px){
        padding-left: 159px;
        padding-right: 159px;
    }
}
.mastersList__wrap {
    margin-bottom: 30px;
    @media screen and (min-width: 768px){
        min-width: 450px;
    }

}
.mastersList__bottom {
    text-align: center;
}
.mastersList{
    &__item:not(:last-child){
        margin-bottom: 64px;
    }
    &__name{
        font-size: getFont('textAny');
        line-height: 1.38;
        letter-spacing: 0.02em;
        color: getColor('colorMain');
        margin-bottom: 8px;
    }
    &__subname{
        font-size: getFont('textDescriptionTeam');
        line-height: 1.35;
        text-align: center;
        letter-spacing: 0.02em;
        color: getColor('colorTextAccent');
        margin-bottom: 30px;
    }
}
.socialNetworksList{
    display: flex;
    justify-content: center;
    &__link{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        padding: 12px;
        border-radius: 50%;
        background-color: getColor('colorTitleHero');
        transition-property: fill;    
        transition-duration: 250ms; 
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover, &:focus{
            fill: getColor('colorTextAccent');
        }
    }
    &__item:not(:last-child){
        margin-right: 10px;
    }
}

.mastersList__item{
    @media screen and (min-width: 768px){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}