.price__pretitleText{
    color: getColor('colorTextHero');
}
.price{
    @extend %sectionPadingMobile;
    background-color: getColor('backgroundPrimary');
    @media screen and (min-width: 768px){
        background-image: url('../css/../images/imgprice.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    @media screen and (min-width: 1279.99px){
        padding-top: 130px;
        padding-bottom: 130px;
    }
    &__btnCentr{
        text-align: center;
    }
    &__button{
        color: getColor('colorTitleHero');
    }
}
.title{
    @extend %titleBig;
    margin-bottom: 44px;
}

.price__laptopPriceWrap{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    @media screen and (max-width: 1279.99px){
    display: none;
    }
}

.priceWrap{
    padding: 30px;
    background-image: getColor('backgrounColor');
    margin-bottom: 80px;
    @media screen and (min-width: 1280px){
        margin-bottom: 0;
        padding: 30px 40px;
    }
}

.laptopPriceWrap{
    width: calc(100%/2);
}

.mainPriceWrap{
    @media screen and (min-width: 1280px){
        display: none;
    }
}

.priceList__service{
    font-size: getFont('textDescriptionTeam');
    line-height: 2.14;
    letter-spacing: 0.02em;
    color: getColor('colotSecondTextHero');
    @media screen and (min-width: 768px){
        font-size: getFont('textAny');
    }
}
.priceList__cost{
    @extend .priceList__service;
    @media screen and (min-width: 768px){
        font-size: getFont('textAny');
    }
    // &::before{
    //     content: '';
    //     display: inline-block;
    //     width: 10px;
    //     border-bottom: 1px solid getColor('colorTextHero');
    //     margin-right: 6px;
    //     margin-left: 6px;
    // }
}
.priceList__item{
    display: flex;
    justify-content: space-between;
}
