p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
    margin-top:  0px;
    margin-bottom: 0px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

a{
    text-decoration: none;
    font-style: normal;
}