%container{
    @media screen and (max-width: 767.99px) {
        padding-left: 31px;
        padding-right: 31px;
        margin-right: auto;
        margin-left: auto;
        max-width: 480px;        
    }

    @media screen and (min-width: 768px) and (max-width: 1279.99px) {
        padding-left: 39px;
        padding-right: 39px;
        margin-right: auto;
        margin-left: auto;
        max-width: 768px;
    }
}
%preTitleTextStyle{
    font-weight: 600;
    font-size: getFont('textHero');
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    // white-space: nowrap;
    &::before{
        @extend %before;
        margin-right: 20px;
    }
}
%subTitleTextStyle{
font-size: getFont('textDescriptionHero');
line-height: 1.62;
letter-spacing: 0.02em;
}
%before{
content: '';
display: inline-block;
width: 60px;
border-bottom: 1px solid getColor('colorTextHero');
}
%titleBig{
    font-family: $fontsecond;
    font-weight: bold;
    font-size: getFont('titleFlow');
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: getColor('colorTitleHero');
}
%sectionPadingMobile{
    padding-top: 84px;
    padding-bottom: 84px;
}