$fontFamily: "Open Sans";
$fontsecond: "Raleway";
// key color
$colors: (
    'colorTextHero': rgba(157, 164, 189, 0.6),
    'colorTitleHero': #ffffff,
    'colotSecondTextHero': #9DA4BD,
    'colorMain': #303030,
    'colorSecond': #555555,
    'colorTextAccent': #FF6C00,
    'backgroundPrimary': #111319,
    'backgrounColor': linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%),
    'backgrounColorWhit': #F7F7F7,
    'backgrounColorFooter':  #191C26,
    'colorInputBorderBottom': rgba(157, 164, 189, 0.4)
);
@function getColor($key) {
@return map-get($colors, $key);
}

// key font
$fontSize: (
    'titleHero': 48px,
    'titleFlow': 42px,
    'title': 28px,
    'textHero': 11px,
    'textDescriptionHero': 16px,
    'textDescriptionTeam': 14px,
    'textButton': 12px,
    'textAny': 18px,
);
@function getFont($key) {
@return map-get($fontSize , $key);
}